<div class="card" [ngClass]="view == 'list' ? 'w-100': ''">
    <div class="top">
        <div class="image-and-name">
            <div class="image">
                <img src="assets/avatar-1.png" alt="userImage" class="user-img">
            </div>
            <div class="author-version-date">
                <div class="author">{{data.author.name.label}}</div>
                <div class="version-and-date">
                    <div class="v-d date">{{data.updated.label | date}}</div>
                    <div class="v-d version">|</div>
                    <div class="v-d version">Version : {{data["im:version"].label}}</div>
                </div>
            </div>
        </div>
        <div class="stars-container">
            <span class="rate" *ngFor="let star of rating">
                <span *ngIf="!star.shouldHighlight">&#9734;</span>
                <span *ngIf="star.shouldHighlight">&#9733;</span>
            </span>
        </div>
    </div>
    <div class="title">
        {{data.title.label}}
    </div>
    <div class="content">
        {{data.content.label}}
    </div>
</div>