<div class="container">
    <app-filters [isIOS]="isIOS" [title]="title" [logo]="logo" [versions]="versions" [years]="years" [versionSorted]="versionSorted" [dateSorted]="dateSorted"
        [ratingSorted]="ratingSorted" (searchKeyword)="searchSort($event)" (version)="versionFilter($event)"
        (year)="yearFilter($event)" (ratingFilter)="ratingFilter($event)" (sortBy)="sortFilter($event)" (viewStyle)="viewStyleChanged($event)"></app-filters>
    <div class="android apps" *ngIf="!platform">
        <app-android *ngFor="let data of appData" [view]="viewStyle" [ngClass]="viewStyle == 'list' ? 'w-100' : ''" [data]="data"></app-android>
    </div>
    <div class="ios apps" *ngIf="platform">
        <app-ios [view]="viewStyle" [ngClass]="viewStyle == 'list' ? 'w-100' : ''" *ngFor="let data of appData" [data]="data"></app-ios>
    </div>
</div>

<div class="loader" *ngIf="!!appData && appData.length == 0 && !data.isLoading">
    <div>
        <img class="image" src="assets/not-found.png" alt="no matching reviews">
    </div>
    <div>
        No matching reviews for the provided filters.
    </div>
</div>

<ng-container *ngTemplateOutlet="svg"></ng-container>

<ng-template #svg>
    <div class="svg">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
            <path fill="#7180ac" fill-opacity="1"
                d="M0,224L40,192C80,160,160,96,240,101.3C320,107,400,181,480,213.3C560,245,640,235,720,202.7C800,171,880,117,960,117.3C1040,117,1120,171,1200,160C1280,149,1360,75,1400,37.3L1440,0L1440,320L1400,320C1360,320,1280,320,1200,320C1120,320,1040,320,960,320C880,320,800,320,720,320C640,320,560,320,480,320C400,320,320,320,240,320C160,320,80,320,40,320L0,320Z">
            </path>
        </svg>
    </div>
</ng-template>