<div class="container shadow">
    <div class="top-container">
        <div class="dropdown-container shadows">
            <div class="top" (click)="toggler()">
                <div class="label">{{isSelected ? appValue : 'Select App'}}</div>
                <div class="chevron">
                    <span class="material-symbols-outlined" *ngIf="expand">
                        expand_less
                    </span>
                    <span class="material-symbols-outlined" *ngIf="!expand">
                        expand_more
                    </span>
                </div>
            </div>
            <div class="options" *ngIf="expand">
                <div class="option" (click)="appSelected(app, false)" *ngFor="let app of apps">
                    {{app.app.title}}
                    <span class="platform">{{app.isIOS ? 'IOS' : 'Android'}}</span>
                </div>
            </div>
        </div>
    </div>

    <div class="center-container" *ngIf="!isAppSelected">
        <h1>How to use AI Chat Tools</h1>

        <ol class="lines">
            <li class="line">Add an app if not added already.</li>
            <li class="line">Need to add an app?  <span class="link" (click)="addApp()">Click here to add an app.</span></li>
            <li class="line">Select the app from the app selector at the top.</li>
            <li class="line">Wait for the chat to be initailized.</li>
            <li class="line">You are all set. Continue your discussion with your AI buddy.</li>
        </ol>
    </div>

    <div class="messages" id="messages" *ngIf="history?.length > 0">
        <div class="message" *ngFor="let message of history; let i = index;">
            <app-user-message class="w-75" *ngIf="message.role == 'user'" [message]="message.parts[0].text" [hideOriginalMessage]="i == 0" [app]="selectedApp"></app-user-message>
            <app-model-message class="w-75" *ngIf="message.role == 'model'" [message]="message.parts[0].text" [hideOriginalMessage]="i == 1" [app]="selectedApp"></app-model-message>
        </div>
    </div>

    <div class="message-box-container">
        <app-loader *ngIf="loading"></app-loader>
        <div class="pre-defined" *ngIf="isAppSelected">
            <div class="prompt-input pre-defined-prompt" *ngFor="let prompt of preDefinedPrompts" (click)="changePrompt(prompt)">
                {{prompt}}
            </div>
        </div>
        <div class="message-box shadows">
            <input matInput placeholder="Enter your message" class="prompt" name="prompt" id="prompt" type="text" name="prompt" [value]="message" (keydown)="promptInput($event)" autocomplete="off">
            <button class="send-btn" mat-raised-button color="primary" type="button" [ngClass]="{'disabled': isButtonDisabled}" [disabled]="isButtonDisabled" (click)="sendMessage()">
                <span class="btn-text">Send</span>
                <span class="icon material-symbols-outlined">
                    send
                </span>
            </button>
        </div>    
    </div>
</div>
