<div class="container shadows" [ngClass]="isOpen ? 'open': 'close'">
    <div class="circle shadows" (click)="isOpen = !isOpen">
        <span class="material-symbols-outlined">
            {{isOpen ? 'chevron_left' : 'chevron_right'}}
        </span>
    </div>
    <div class="top">
        <div class="icon shadows material-symbols-outlined" routerLink="/home" (click)="setActive($event)">
            home
            <span class="text">Home</span>
        </div>
        <div class="icon shadows material-symbols-outlined" routerLink="/add" (click)="setActive($event)">
            add
            <span class="text">Add an App</span>
        </div>
        <div class="icon shadows material-symbols-outlined" routerLink="/dashboard" (click)="setActive($event)">
            dashboard
            <span class="text">Dashboard</span>
        </div>
        <div class="icon shadows material-symbols-outlined" routerLink="/word-cloud" (click)="setActive($event)">
            cloud
            <span class="text">Word Cloud</span>
        </div>
        <div class="icon shadows material-symbols-outlined" routerLink="/sentiment-word-cloud" (click)="setActive($event)">
            sentiment_satisfied
            <span class="text">Sentiment Word Cloud</span>
        </div>
        <div class="icon shadows material-symbols-outlined" routerLink="/chat" (click)="setActive($event)">
            forum
            <span class="text">AI Chat (WIP)</span>
        </div>
        <div class="icon shadows material-symbols-outlined" routerLink="/apps" (click)="setActive($event)">
            apps
            <span class="text">Apps</span>
        </div>
        <div class="icon shadows platform" *ngFor="let app of apps" (click)="selectApp(app)">
            <div class="circle-logo">
                <img class="platform-img" [src]="'assets/'+ (app.isIOS ? 'apple.png' : 'android-2.png')" alt="platform">
            </div>
            <img class="img" [ngClass]="isOpen ? 'open' : 'close'" [src]="app.app.icon" alt="icon">
            <span class="text">{{app.app.title}} <span class="small-text">{{app.isIOS ? 'IOS' : 'Android'}}</span></span>
        </div>
    </div>
    <!-- <div class="bottom">
        <div class="icon shadows material-symbols-outlined">
            compare_arrows
            <span class="text">Compare Apps</span>
        </div>
        <div class="icon shadows material-symbols-outlined">
            delete
            <span class="text" *ngIf="isOpen">Delete Apps</span>
        </div>
    </div> -->
</div>

<div class="container-fake" [ngClass]="isOpen ? 'open': 'close'"></div>