.top {
    position: sticky;
    top: 0px;
    width: calc(100% - 20px);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
    z-index: 10;
    background-color: var(--gray);
    padding: 10px 0;
}

.bold {
    font-weight: 700;
}

.dark {
    color: var(--primary);
    font-weight: 700;
    font-style: italic;
    text-transform: uppercase;
}

.radio-button-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.white {
    color: var(--white);
}

.search-text {
    padding: 0 5px;
}

mat-form-field{
    margin-top: 10px;
}

.form {
    display: flex;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px 50px;
    flex-wrap: wrap;
}

.app {
    display: flex;
    gap: 20px;
    background-color: var(--white);
    align-items: center;
    width: 100%;
    width: 350px;
    margin: 10px;
    border-radius: 10px;
    position: relative;
}

.icon-add {
    position: absolute;
    right: -20px;
    top: -20px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary);
    color: var(--white);
    border-radius: 10px;
    cursor: pointer;
    transition-duration: 100ms;
}

.icon-add:hover {
    font-size: 30px;
    background-color: var(--accent);
}

.results {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.icon, .img {
    width: 150px;
    height: 150px;
    border-radius: 10px 0 0 10px;
}

.details {
    display: flex;
    flex-direction: column;
}

.name{
    font-weight: 700;
    font-size: 18px;
}

.id {
    font-style: italic;
    font-size: 12px;
}

.developer {
    font-size: 12px;
}

.score {
    font-weight: 700;
}

.open {
    position: absolute;
    bottom: 5px;
    right: 5px;
    color: var(--primary);
    cursor: pointer;
}

.svg {
    position: absolute;
    bottom: 0px;
    left: 0;
    z-index: -1;
    width: 100%;
    opacity: 0.3;
}

.platform {
    display: flex;
    align-items: center;
    gap: 50px;
}

.plat {
    display: flex;
    align-items: center;
    align-items: center;
    color: var(--primary);
    justify-content: space-between;
    width: 140px;
    padding: 12px;
    border-radius: 8px;
    border: 2px solid var(--primary);
    background-color: var(--white);
    cursor: pointer;
}

.plat .material-symbols-outlined {
    background-color: var(--white);
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 3px solid var(--primary);
}

.primary-button {
    padding: 10px;
    background-color: var(--primary);
    outline: none;
    border: none;
    border-radius:  0 8px 8px 0;
    display: flex;
    justify-content: space-between;
    width: max-content;
    align-items: center;
    font-weight: 700;
    text-transform: uppercase;
    font-style: italic;
    font-size: 16px;
    cursor: pointer;
}

.search-box {
    display: flex;
}

.search {
    border: none;
    padding: 16px;
    border-radius: 8px 0 0 8px;
    background: #f0f0f0;
    border: 2px solid var(--primary);
    transition-duration: 100ms;
    /* color: var(--primary); */
    font-weight: 700;
    width: 280px;
    font-size: 16px;
}

.search:focus {
    outline: none;
}

.search::placeholder {
    color: var(--primary);
    font-weight: 700;
    font-style: italic;
    text-transform: uppercase;
}

.dot{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--primary);
}

.svg {
    position: absolute;
    bottom: 0px;
    left: 0;
    z-index: -1;
    width: 100%;
    opacity: 0.3;
}

.app-added-snackbar {
    background-color: var(--primary);
    color: var(--accent);
}

@media (max-width: 576px) {
    .top {
        top: -20px;
        width: 100%;
    }
}