* {
    transition-duration: 100ms;
}

.top {
    border-bottom: 1px solid var(--primary);
    position: sticky;
    top: 0px;
    width: calc(100% - 20px);
    /* border-radius: 10px; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
    z-index: 10;
    background-color: var(--gray);
}

.bold {
    font-weight: 700;
}

.dark {
    color: var(--primary);
    font-weight: 700;
}

.radio-button-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.white {
    color: var(--white);
}

.search-text {
    padding-left: 10px;
}

mat-form-field{
    margin-top: 10px;
}

.form {
    display: flex;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.app {
    display: flex;
    gap: 20px;
    background-color: var(--white);
    align-items: center;
    width: 100%;
    width: 350px;
    margin: 10px;
    border-radius: 10px;
    position: relative;
}

.icon-add {
    position: absolute;
    right: -20px;
    top: -20px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary);
    color: var(--white);
    border-radius: 10px;
    cursor: pointer;
    transition-duration: 100ms;
}

.icon-add:hover {
    font-size: 30px;
    background-color: var(--accent);
}

.results {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.icon, .img {
    width: 150px;
    height: 150px;
    border-radius: 10px 0 0 10px;
}

.details {
    display: flex;
    flex-direction: column;
}

.name{
    font-weight: 700;
    font-size: 18px;
}

.id {
    font-style: italic;
    font-size: 12px;
}

.developer {
    font-size: 12px;
}

.score {
    font-weight: 700;
}

.open {
    position: absolute;
    bottom: 5px;
    right: 5px;
    color: var(--primary);
    cursor: pointer;
}

.svg {
    position: absolute;
    bottom: 0px;
    left: 0;
    z-index: -1;
    width: 100%;
    opacity: 0.3;
}
