.filter-container {
    width: calc(100% + 20px);
    /* height: 100%; */
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
    /* background-color: var(--primary); */
    border-bottom: 2px solid var(--primary);
    align-items: center;
    /* border-radius: 10px; */
    padding: 7px 0px;
    /* margin: 0 -20px; */
    margin: 10px -15px 10px;
}

.rating-container {
    display: flex;
    align-items: center;
    gap: 2px;
}

.rating-container>div {
    /* color: white; */
    font-weight: 700;
    font-size: 16px;
}

.mat-chip.mat-standard-chip>.rating-container>div {
    color: var(--primary);
}

.mat-chip.mat-standard-chip>.rating-container>div {
    color: var(--primary);
}

.mat-rating.mat-chip-selected>.rating-container>div {
    color: white;
}

.mat-chip.mat-standard-chip {
    background-color: transparent;
    border: 2px solid var(--primary);
}

/* .filter-div>mat-form-field {
    width: 200px;
} */

.ratings {
    display: flex;
    gap: 5px;
    width: 35%;
    justify-content: center;
}

.mat-rating.mat-chip-selected {
    background-color: var(--primary);
    color: var(--light-blue);
    font-weight: 700;
}

.rating {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    font-weight: 700;
}

.selected {
    position: relative;
    width: 0%;
    height: 100%;
}

.filter-div {
    width: 200px;
}

.example-full-width {
    width: 100%;
}

.check {
    position: absolute;
    top: -10px;
    right: -20px;
    background-color: bisque;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 500px) {
    .filter-container {
        gap: 2px;
        height: unset;
    }
}

.mobile-filters {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    gap: 2px;
    align-items: center;
}

.filter-button {
    display: flex;
    align-items: center;
    background-color: var(--primary);
    width: 200px;
    justify-content: space-between;
}

.filter-img {
    width: 20px;
    height: 25px;
    filter: invert(1);
}

.text {
    color: var(--primary);
}

/* Sorting */


.sorting-container {
    display: flex;
    align-items: center;
    background-color: var(--secondary);
    padding: 7px 10px 15px;
    color: var(--primary);
    border-radius: 0 0 10px 10px;
}

.left {
    width: 20%;
}

.center {
    width: 65%;
}

.right {
    width: 15%;
}

.sort-box {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    user-select: none;
}

@media (max-width: 500px) {
    .sorting-container {
        display: none;
    }
}

.compare {
    color: var(--primary);
    justify-content: space-between;
}

.link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid var(--primary);
    background-color: transparent;
    font-weight: 700;
    outline: none;
}

.search {
    border: none;
    padding: 10px;
    border-radius: 5px;
    background: #ffffff95;
    /* border-bottom: 1px solid var(--primary); */
    transition-duration: 100ms;
    color: var(--primary);
    font-weight: 700;
    max-width: 250px;
    width: 25%;
    font-size: 16px;
}

.search:focus {
    border-bottom: 3px solid var(--light);
    outline: none;
}

.search::placeholder {
    color: var(--primary);
    font-weight: 700;
    font-style: italic;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.dropdown-container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    justify-content: space-between;
    background-color: #ffffff95;
    color: var(--primary);
    padding: 5px 10px;
    border-radius: 5px;
    gap: 10px;
}

.top {
    display: flex;
    justify-content: space-between;
    width: 100%;
    cursor: pointer;
    align-items: center;
}

.chevron {
    cursor: pointer;
    user-select: none;
    /* color: var(--light); */
    font-weight: 700;
    font-style: italic;
    line-height: 16px;
    font-size: 20px;
    margin-top: 4px;
}

.options {
    display: flex;
    flex-direction: column;
    /* gap: 2px; */
    max-height: 300px;
    position: absolute;
    z-index: 5;
    top: 40px;
    left: 0px;
    cursor: pointer;
    width: 100%;
    overflow-y: auto;
}

.option {
    background-color: #ffffff;
    padding: 10px;
    max-width: 200px;
    min-width: 50px;
    font-size: 14px;
    border-radius: 5px;
}

.option:hover {
    background-color: #ffffff;
}

.label {
    /* color: var(--light); */
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-style: italic;
    line-height: 16px;
    font-size: 16px;
}

.filterss {
    display: flex;
    width: 35%;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 0 10px;
}