<div class="filter-container" *ngIf="showFilters">
    <img class="logo" [src]="logo" alt="logo">
    <img class="logo-inner" *ngIf="isIOS" src="assets/apple.png" alt="Apple">
    <img class="logo-inner" *ngIf="!isIOS" src="assets/android.png" alt="Android">
    <div class="title">
        {{title}}
    </div>
    <div class="ratings div">
        <div class="selected-label-ratings">
            <span class="material-symbols-outlined">
                hotel_class
            </span>
            Ratings
        </div>
        <mat-chip-list multiple>
            <mat-chip color="rating" *ngFor="let rate of ratings" (click)="toggleRatingSelection(rate)"
                selectable="true" [selected]="rate.isSelected">
                <div class="rating-container">
                    <div>{{rate.text}}</div>
                    <!-- <div class="bold" *ngIf="rate.isSelected">&#10003;</div> -->
                </div>
            </mat-chip>
        </mat-chip-list>

    </div>

    <div class="search-box">
        <div class="selected-label-search">
            <span class="material-symbols-outlined">
                search
            </span>
            Search
        </div>
        <input class="search" placeholder="Search by keyword" (keyup)="searchInput($event)" autocomplete="off">
    </div>

    <div class="filterss">
        <div class="dropdown-container">
            <div class="top" (click)="toggler('version')">
                <div class="selected-label" *ngIf="selectedVersion">
                    <span class="material-symbols-outlined">
                        info
                    </span>
                    Version
                </div>
                <div class="label">{{selectedVersion ? versionValue : 'Version'}}</div>
                <div class="chevron">
                    <span class="material-symbols-outlined" *ngIf="expandVersion">
                        expand_less
                    </span>
                    <span class="material-symbols-outlined" *ngIf="!expandVersion">
                        expand_more
                    </span>

                </div>
            </div>
            <div class="options" *ngIf="expandVersion">
                <div class="option" (click)="versionSelected('-1')">All</div>
                <div class="option" (click)="versionSelected(version)" *ngFor="let version of versions">
                    {{version != null ? version : 'NA'}}
                </div>
            </div>
        </div>

        <div class="dropdown-container">
            <div class="top" (click)="toggler('year')">
                <div class="selected-label" *ngIf="selectedYear">
                    <span class="material-symbols-outlined">
                        today
                    </span>
                    Year
                </div>
                <div class="label">{{selectedYear ? yearValue : 'Year'}}</div>
                <div class="chevron">
                    <span class="material-symbols-outlined" *ngIf="expandYear">
                        expand_less
                    </span>
                    <span class="material-symbols-outlined" *ngIf="!expandYear">
                        expand_more
                    </span>
                </div>
            </div>
            <div class="options" *ngIf="expandYear">
                <div class="option" (click)="yearSelected('-1')">All</div>
                <div class="option" (click)="yearSelected(year)" *ngFor="let year of years">
                    {{year != null ? year : 'NA'}}
                </div>
            </div>
        </div>

        <div class="dropdown-container">
            <div class="top" (click)="toggler('sort')">
                <div class="selected-label" *ngIf="selectedSort">
                    <span class="material-symbols-outlined">
                        sort
                    </span>
                    Sort
                </div>
                <div class="label">{{selectedSort ? sortValue : 'Sort'}}</div>
                <div class="chevron">
                    <span class="material-symbols-outlined" *ngIf="expandSort">
                        expand_less
                    </span>
                    <span class="material-symbols-outlined" *ngIf="!expandSort">
                        expand_more
                    </span>
                </div>
            </div>
            <div class="options" *ngIf="expandSort">
                <div class="option" (click)="sortChange(sort.value)" *ngFor="let sort of sortingArray">
                    {{sort.text}}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="mobile-filters" *ngIf="showFilterButton" [ngStyle]="{'height' : showFilters ? 'unset' : '100%'}">
    <button mat-flat-button color="primary" class="filter-button" (click)="toggleFilters()">
        <!-- <img class="filter-img" src="assets/filter.png" alt="filter"> -->
        <div class="text">{{showFilters ? 'Hide' :'Show'}} Filters</div>
    </button>
</div>