<h2 mat-dialog-title class="title">
    <div class="left">
        <img [src]="data.icon" alt="logo" class="logo shadows">
        <div class="text">
            <div class="text-line">
                {{data.title}}
            </div>
            <div class="text-line small italic">
                {{data.appId}}
            </div>
            <div class="text-line small italic">
                {{data.developer}}
            </div>
        </div>
    </div>
    <div class="add-app">
        <button class="primary-button" (click)="addApp()">
            <span class="icon material-symbols-outlined">
                add
            </span>
            Add App
        </button>
    </div>
</h2>
<mat-dialog-content>
    <div class="content" id="review-content">
        <div class="line boxes">
            <div class="box shadows">
                {{data.score.toFixed(2)}} / 5
                <div class="title-box">
                    Rating
                </div>
                <span class="material-symbols-outlined shadows">
                    star
                </span>
            </div>
            <div class="box shadows">
                {{data.reviews}}
                <div class="title-box">
                    Reviews
                </div>
                <span class="material-symbols-outlined shadows">
                    rate_review
                </span>
            </div>
            <div class="box shadows">
                {{data.price == 0 ? 'Free' : data.price}}
                <div class="title-box">
                    Price
                </div>
                <span class="material-symbols-outlined shadows">
                    attach_money
                </span>
            </div>

            <div class="box shadows">
                {{data.released | date}}
                <div class="title-box">Released</div>
                <span class="material-symbols-outlined shadows">
                    new_releases
                </span>
            </div>
            <div class="box shadows">
                <div class="title-box">
                    Rated for
                </div>
                {{data.contentRating}}
            </div>
            <div class="box shadows">
                <div class="title-box">
                    Primary Genre
                </div>
                {{data.primaryGenre}}
            </div>
            <div class="box shadows">
                <div class="title-box">
                    Version
                </div>
                {{data.version}}
            </div>
        </div>
        <div class="screenshots">
            <img class="ss-img shadows" [src]="ss" alt="screenshot" *ngFor="let ss of data.screenshots">
        </div>
        <div class="mix-container">
            <div class="w-50">
                <div class="heading">Release Notes</div>
                <div class="line">{{data.releaseNotes}}</div>
            </div>
            <div class="w-50">
                <div class="heading">URL</div>
                <div class="line link" (click)="window.open(data.url)">
                    {{data.url}}
                    <span class="material-symbols-outlined simple">
                        open_in_new
                    </span>
                </div>
            </div>
            <div class="w-50">
                <div class="heading">Developer Website</div>
                <div class="line link" (click)="window.open(data.developerWebsite)">
                    {{data.developerWebsite}}
                    <span class="material-symbols-outlined simple">
                        open_in_new
                    </span>
                </div>
            </div>
            <div class="w-50 simple-box" *ngIf="data.genres?.length > 0">
                <div class="genre">
                    <div class="heading">
                        Genre(s)
                    </div>
                    <div class="line">
                        {{data.genres?.join(', ')}}
                    </div>
                </div>
            </div>
        </div>
        <div class="description">
            <div class="heading">Description</div>
            <div class="line">
                <span [innerHTML]="data.description"></span>
            </div>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end" class="action">
    <!-- <button mat-button mat-dialog-close>Add App</button> -->
    <button mat-button mat-dialog-close class="close-button red">Close</button>
</mat-dialog-actions>